In [13]:
# 1st day
print("hello world", 7)
print (5)
print("'Hello' ")
print(32/2*8)

hello world 7
5
'Hello'
128.0

In [14]:
 # 2nd day  comment ,escape sequence 
 
 '''
 hey krish ,please dont remove thish line
 Author :Krish
 '''
"""
 hey krish ,please dont remove thish line
 Author :Krish
"""
print ("Hey i am a\" good boy\" \n  and i am  a python programer")
print ("hello world!!!") # print
print("Hey", 7,8, sep="~")
print("Krishnendu", 7,8,sep="~", end="2003\n")
print("Ghosh")

Hey i am a" good boy"
  and i am  a python programer
hello world!!!
Hey~7~8
Krishnendu~7~82003
Ghosh

In [15]:
# 3rd day variables and datatypes
a=123
print(a)
a1=9.2
b="krish"
c=True
d=None
e= complex (8,2)
print(b)
print(a+a1)
print("The type of a is",type(a))
print("The type of a is",type(a1))
print("The type of a is",type(b))
print("The type of a is",type(c))
print("The type of a is",type(d))
print("The type of a is",type(e))
list =[ 8,2.3,[-4,5],["apple","banana"]]
print(list)
tuple = (("parrot","lion"),("tigher","sparrow"))
print(tuple)
dict ={"name":"Gablu","age":10,"canvote":True}
print(dict)

123
krish
132.2
The type of a is <class 'int'>
The type of a is <class 'float'>
The type of a is <class 'str'>
The type of a is <class 'bool'>
The type of a is <class 'NoneType'>
The type of a is <class 'complex'>
[8, 2.3, [-4, 5], ['apple', 'banana']]
(('parrot', 'lion'), ('tigher', 'sparrow'))
{'name': 'Gablu', 'age': 10, 'canvote': True}

In [16]:
# calculator

print(15+7)
print(15-7)
print(15*7)
print(15/7)
print(15//7) #floor division
print(15%7) #modulu
print(15**7)# exponential

22
8
105
2.142857142857143
2
1
170859375

In [17]:
a = 50
b = 34
print("The value of", a, "+", b, "is:", a + b)
print("The value of", a, "-", b, "is:", a - b)
print("The value of", a, "*", b, "is:", a * b)
print("The value of", a, "/", b, "is:", a / b)

The value of 50 + 34 is: 84
The value of 50 - 34 is: 16
The value of 50 * 34 is: 1700
The value of 50 / 34 is: 1.4705882352941178

In [18]:
# Typecasting
a="1"
a=1
b="2"
b=2
print (a+b)
print(int(a)+float(b))
string="15"
number=7
string_number=int(string)
sum=number + string_number
print("the sum of both the number is:",sum)

#implicit typecasting
c=1.9
d=8
print(c+d)
a1=7
print(type(a1))
b1=3.0
print(type(b1))
c1=a1+b1
print(c1)
print(type(c1))

3
3.0
the sum of both the number is: 22
9.9
<class 'int'>
<class 'float'>
10.0
<class 'float'>

In [25]:
# taking user input form user
a=input()
print("My name is",a)
x=input("Enter first number:")
y=input("Enter second number:")
print(x+y)
print(int(x)+int(y))

My name is krish
10012
112