In [1]:
# Data type
int=3,300,200
float=2.3,4.6,100
str="hello",'krish',"2000","%$#"
list=[10,"hello",200.3]
dict={"mykey":"value","name":"Title"}
tup=(10,"hello",200.3)
set={"a","b"}
bool=True,False

In [11]:
#numbers
10*10
#variable
ny_name=2
a=30.3
my_name=["krishnendu","Ghosh"]
print(my_name)
type(a)
my_income=100
tax_rate=0.1
my_taxes=my_income*tax_rate
print(my_taxes)

['krishnendu', 'Ghosh']
10.0

In [16]:
#strings
print('hello'"world")
print("i m' going on a run")
print("hello\nworld")#escape sequance
print("hello\tworld")
len("vhbfjdhfjdf")

helloworld
i m' going on a run
hello
world
hello	world

11

In [12]:
# indexing and slicing
mystring="helloworld"
print(mystring[2])
letter="abcdefghijklmnopqrstuvwxyz"
print(letter[10:])
print(letter[:3])
print(letter[3:6])
print(letter[2:7:2])
print(letter[::-1])

l
klmnopqrstuvwxyz
abc
def
ceg
zyxwvutsrqponmlkjihgfedcba

In [41]:
#string properties
name="ankur"
#name[0]='B'
last_lettres =name[1:5]
print (last_lettres)
print('B'+last_lettres) #concatination
x="I am a "
x+"boy"
x=x+"boy"
print(x)
letter="k"
letter*10
2+3
'2'+'3'
y='Hello World'
print(y.upper())
print(y.split())
z='Hi this is a string'
z.split('i')

nkur
Bnkur
I am a boy
HELLO WORLD
['Hello', 'World']

['H', ' th', 's ', 's a str', 'ng']

In [18]:
#print formating with string
print('This is a string {}'.format('INSERTED'))
print('The {0} {1} {2} '.format('Quick','Brown','Fox'))
print('The {f} {b} {b}'.format(f='fox',b='Brown',Q='quick'))
result=100/700
result
print("The result was {r:10.3f}".format(r=result))#"{value:width.precision f}"
name="krish"
print('Hello ,my name is {}'.format(name))
print(f'Hello ,my name is {name}')#fstring
name="Beda ankur"
age="23"
print(f'{name} is {age} years old.')

This is a string INSERTED
The Quick Brown Fox
The fox Brown Brown
The result was      0.143
Hello ,my name is krish
Hello ,my name is krish
Beda ankur is 23 years old.

In [24]:
#list
my_list=[1,2,3,4]
my_list1=['string',100,23.3]
print(len(my_list1))
my_list=['one','Two','Three']
print(my_list[0])
my_list[1:]
another_list=['four','five']
new_list=my_list+another_list
print(new_list)
new_list[0]='ONE ALL CAPS'
print(new_list)
new_list.append('six')
print(new_list)
new_list.append('seven')
print(new_list)
new_list.pop()
print(new_list)
popped_item=new_list.pop()
print(popped_item)
print(new_list)
new_list.pop(0)
print(new_list)
new_list.pop(-1)
print(new_list)
new_list=['r','a','c','h','a','n','a']
num_list=[4,1,8,3]
new_list.sort()
print(new_list)
num_list.sort()
print(num_list)
num_list.reverse()
print(num_list)

3
one
['one', 'Two', 'Three', 'four', 'five']
['ONE ALL CAPS', 'Two', 'Three', 'four', 'five']
['ONE ALL CAPS', 'Two', 'Three', 'four', 'five', 'six']
['ONE ALL CAPS', 'Two', 'Three', 'four', 'five', 'six', 'seven']
['ONE ALL CAPS', 'Two', 'Three', 'four', 'five', 'six']
six
['ONE ALL CAPS', 'Two', 'Three', 'four', 'five']
['Two', 'Three', 'four', 'five']
['Two', 'Three', 'four']
['a', 'a', 'a', 'c', 'h', 'n', 'r']
[1, 3, 4, 8]
[8, 4, 3, 1]

In [49]:
#dictionaries
my_dict={'key1':'value1','key2':'value2'}
print(my_dict)
my_dict['key1']
price_lookup={'apple':160.0,'oranges':80.0,'milk':65}
print(price_lookup['apple'])
d = {'k1':123,'k2':[0,1,2],'k3':{'insidekey':100}}
print(d['k2'][2])
print(d['k3'])
print(d['k3']['insidekey'])
d={'key1':['a','b','c']}
mylist=d['key1']
print(mylist)
letter=mylist[2]
print(letter)
letter.upper()
print(letter)
print(d['key1'][2].lower())
d={'k1':100,'k2':200}
print(d)
d['k3']=300
print(d)
d={'k1': 100, 'k2': 200, 'k3': 300}
print(d.keys())
print(d.values())
print(d.items())

{'key1': 'value1', 'key2': 'value2'}
160.0
2
{'insidekey': 100}
100
['a', 'b', 'c']
c
c
c
{'k1': 100, 'k2': 200}
{'k1': 100, 'k2': 200, 'k3': 300}
dict_keys(['k1', 'k2', 'k3'])
dict_values([100, 200, 300])
dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [25]:
#tuples
t=(1,2,3)
mylist=[1,2,3]
print(type(t))
print(type(mylist))
print(len(t))
t=('one',2)
print(t[-1])
t=('k','r','i','s','h','n','e','n','d','u','g','h','o','s','h')
print(t.count('h'))
print(t.index('s'))
print(mylist)
mylist[0]='new'
print(mylist)

<class 'tuple'>
<class 'list'>
3
2
3
3
[1, 2, 3]
['new', 2, 3]

In [57]:
#sets
x={1,2,3}
print(type(x))
x.add(21)
print(x)
x.add(-3)
print(x)
mylist=[1,2,2,3,3,3,4,4,4,4,5,5,5,5,5,6,6,6,6,6,6]
print(set(mylist))

<class 'set'>
{1, 2, 3, 21}
{1, 2, 3, 21, -3}
{1, 2, 3, 4, 5, 6}

In [43]:
# booleans
False
print(type(True))
print(1>2)
print(1==1)

<class 'bool'>
False
True

In [82]:
# i/o with basic .txt files
#%%writefile myfile.txt
#Hello this is a text file
#this is the second line
#this is third line
with open("myfile.txt", "w") as file:
    file.write("Hello this is a text file\n")
    file.write("This is the second line\n")
    file.write("This is the third line\n")
    myfile = open('myfile.txt')
%pwd # indicate location
myfile=open('myfile.txt')
print(myfile.read())
print(myfile.read())
print(myfile.seek(0))
contents=myfile.read()
print(contents)
myfile.readlines()

Hello this is a text file
This is the second line
This is the third line


0
Hello this is a text file
This is the second line
This is the third line

[]

In [92]:
#file location
%pwd
myfile.close()
with open ('myfile.txt') as my_new_file:
    contents = my_new_file.read()
    print(contents)
with open ('myfile.txt',mode='r') as myfile:
    contents = myfile.read()
    print(contents)

In [106]:
%%writefile my_new_file.txt
ONE OR FIRST
TWO OR SECOND
THREE OR THIRD

Overwriting my_new_file.txt

In [110]:
with open ('my_new_file.txt',mode='a') as f:
    f.write('\n FOUR ON FOURTH')

In [114]:
with open ('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE OR FIRST
TWO OR SECOND
THREE OR THIRD
FOUR ON FOURTHFOUR ON FOURTH
 FOUR ON FOURTH

In [126]:
with open ('Ram',mode='w') as f:
    f.write('I CAN CREAT THIS FILE')

In [127]:
with open ('Ram',mode='r') as f:
    print(f.read())

I CAN CREAT THIS FILE

In [13]:
#comparison operator
print('2'==2)
print(2.0 == 2)
print(3!=3)
print(4!=5)
print(1>2)
print(4<=1)
#logical operator
print(1<2>3)
print(1<2 and 2<3)
print(100 ==1 or 2 ==200)
print(not 400>5000)

False
True
False
True
False
False
False
True
False
True

In [14]:
#if ,elif,else statement
hungry=False
if hungry:
    print("Feed Me!")
else:
    print("im not hungry")
#----------------------------    
loc='bank'
if loc=='Auto shop':
    print("cars are coll!")
else:
    print("i do not know much.") 
#---------------------------------
loc="bank"
if loc=="auto shop":
    print("cars are coll")
elif loc=="bank":
    print("Money is coll!")
elif loc=="store":
    print("welcome to the store")
else:
    print("i do not know nuch more")     
#-------------------------------------
name="krishnendu"   
if name == "shukhendu":
    print("hello shukhendu")
elif name =="krishnendu":
    print("hello krishnendu")
else:
    print("what is your name ?")

im not hungry
i do not know much.
Money is coll!
hello krishnendu

In [ ]:
# for loop
mylist=[1,2,3,4,5,6,7,8,9,10]
for num in mylist:
    print(num)
# only even num
for num in mylist:
    if num%2==0:
        print(num)
    else:
        print(f'odd number:{num}')
# sum of list
list_sum=0
for num in mylist:
    list_sum = list_sum+ num
print(list_sum)    
#-------------------
mystring="Beda Ankur"
for letter in mystring:
    print(letter)
# ------------
tup=(1,2,3)
for item in tup:
    print(item)  
#------------
mylist=[(1,2,3),(5,6,7),(8,9,10)]
len(mylist)
for item in mylist:
    print(item)
for a,b,c in mylist:
    print(c)
#------------------------
d={'k1':1,'k2':2,'k3':3}
for value in d.values():
    print(value)

In [13]:
#while loop
x=0
while x<5:
    print(f'The current value of x is {x}')
    #x=x+1
    x +=1
else:
    print("x is not less than 5")
# break,continue,pass keyword
x=[1,2,3]
for item in x:
    pass
print("end of my script")
#----------------
mystring="krish"
for letter in mystring:
    if letter =="r":
        continue
    print(letter)
#----------------------
name="Beda ankur "
for letter in name:
    if letter =="a":
        break
    print(letter)  
#-------------------
x=0
while x<5:
    if x==2:
        break
    print(x)
    x=x+1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is not less than 5
end of my script
k
i
s
h
B
e
d
0
1

In [ ]:
#useful operators
for num in range(0,11,2):
    print(num)
print(list(range(0,11,2)))
#-------------------------------
index_count=0
word="abcde"
for letter in word :
    print('At index{} the letter is {}'.format(index_count,letter))
    index_count+=1
#------------------------------
for item in enumerate(word):
    print(item)
#------------------------------------
word="abcde"
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print("\n")    
#--------------------------------
mylist1=[1,2,3]
mylist2=['a','b','c']
mylist3=[100,200,300]
for item in  zip(mylist1,mylist2,mylist3):
     print(item)
list(zip(mylist1,mylist2)) 
#------------------------------- 
print('x'in [1,2,3])   
print('x' in ['x','y','z'])
print('a' in 'a world')
print('mykey' in {'mykey':345})
d={'mykey':345}
345 in d.keys()
#---------------------------
mylist=[10,20,30,40,50,60,70,80,90,100]
print(min(mylist))
print(max(mylist))
#-----------------------------------
from random import shuffle
mylist =[1,2,3,4,5,6,7,8,9,10]
shuffle(mylist)
mylist
#----------------------------------
input("enter a number here")
result=input('My name is')
result

In [32]:
#list comprehensions
mystring="hello"
mylist=[]
for letter in mystring:
    mylist.append(letter)
print(mylist) 
#---------------------------------
mylist=[letter for letter in mystring] 
print(mylist)
#---------------------------  
myist=[x for x in "word"]
print(mylist)
#------------------------
mylist=[ num for num in  range(0,11)]
print(mylist)
#----------------------------------
mylist=[ num**2 for num in  range(0,11)]# suars of number in a range
print(mylist)
#===================================================
mylist = [x**2 for x in range(0, 11) if x % 2 == 0]
print(mylist) 
#============================
celcius=[0,10,20,34.5]
fahrenheit=[((9/5)* temp +32) for temp in celcius]
print(fahrenheit)
fahrenheit=[]
for temp in celcius:
    fahrenheit.append(((9/5)*temp+32))
print(fahrenheit)    
#--------------------------------
result=[ x if x%2==0 else 'odd' for x in range (0,11)]
print(result)
mylist =[]
for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)
print(mylist) 
#-------------------------------  
mylist=[x**y for x in [2,4,6] for y in [1,10,100]]
print (mylist)     
#-------------------

['h', 'e', 'l', 'l', 'o']
['h', 'e', 'l', 'l', 'o']
['h', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 4, 16, 36, 64, 100]
[32.0, 50.0, 68.0, 94.1]
[32.0, 50.0, 68.0, 94.1]
[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]
[2, 20, 200, 4, 40, 400, 6, 60, 600]
[2, 1024, 1267650600228229401496703205376, 4, 1048576, 1606938044258990275541962092341162602522202993782792835301376, 6, 60466176, 653318623500070906096690267158057820537143710472954871543071966369497141477376]